body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
}

h1, p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 15% 0px 15%;
  background: #1F2937;
}

.header .logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  list-style-type: none;
  gap: 15px;
  margin: 0;
}

.header-links,
.content-one p {
  font-size: 18px;
  color: #E5E7EB;
}

.content-one {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 100px 15%;
  background: #1F2937;
}

.content-one h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.sign-up {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  background: #3882F6;
  color: white;
  font-size: 18px;
  font-weight: 900;
  flex-shrink: 0;
}

.content-one .sign-up {
  border: 1px solid #3882F6;
}

.content-one-right {
  flex-basis: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: stretch;
  background: grey;
}

.content-two {
  padding: 37px 15% 100px;
}

.content-two > .container {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
  flex-wrap: wrap;
}

.content-two h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  margin-bottom: 37px;
}

.info {
  max-width: 200px;
}

.info-img {
  width: 200px;
  height: 200px;
  border: solid 2px #3882F6;
  border-radius: 5px;
  margin-bottom: 10px;
}

.content-three {
  padding: 100px 20% 76px 20%;
  background: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-three .quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.content-three .citation {
  font-size: 24px;
  align-self: flex-end;
}

.content-four {
  padding: 80px 15%;
}

.content-four .container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  border-radius: 8px;
  background: #3882F6;
  border: 1px #3882F6;
  color: white;
  padding: 30px;
}

.content-four .sign-up {
  border: 1px solid white;
}

.footer {
  padding: 30px;
  color: #E5E7EB;
  background: #1F2937;
  text-align: center;
}